@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --clr: #0f0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 200px;
  animation: animateColor 5s linear infinite;
  overflow: hidden;
}

@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.container .cloud {
  position: relative;
  width: 300px;
  z-index: 100;
  filter: drop-shadow(0 0 35px var(--clr));
}

.container .cloud h2 {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #000;
  font-size: 2.5em;
  z-index: 1000;
  font-weight: 600;
  padding: 0 10px;
  border-radius: 10px;
  text-transform: uppercase;
  background: var(--clr);
}


.container .cloud .pixel-cloud {
  position: absolute;
  top: -160px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 200px;
  image-rendering: pixelated;
  background: transparent;
  z-index: 50;
}

.container .cloud .drop {
  position: absolute;
  top: 40px;
  height: 20px;
  line-height: 20px;
  color: var(--clr);
  transform-origin: bottom;
  animation: animate 2s linear infinite;
}



@keyframes animate {
  0% {
    transform: translateY(0) scaleY(0);
    transform-origin: top;
  }

  10% {
    transform: translateY(0) scaleY(0.25);
    transform-origin: top;
  }

  20% {
    transform: translateY(0) scaleY(1);
  }

  70% {
    transform: translateY(300px) scaleY(1);
    transform-origin: bottom;
  }

  80% {
    transform: translateY(300px) scaleY(1);
    transform-origin: bottom;
  }

  100% {
    transform: translateY(300px) scaleY(0);
    transform-origin: bottom;
    text-shadow: -180px 0 0 var(--clr), 180px 0 var(--clr);
  }
}


@media (max-width: 400px) {
  .pixel-cloud {
    filter: drop-shadow(0 0 18px var(--clr));
  }
}


#rainVideo {
  display: none;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  outline: none;
  border: 0;
}

@media (max-width: 400px) {
  .container {
    display: none !important;
  }

  #rainVideo {
    display: block !important;
  }
}